/* Global Styles */

body {
	padding-top: 115px;
	color: #000;
	background: #f5f5f5
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

h1 {
	font-size: 48px;
	font-family: "blakely";
	font-weight: 700;

}

h2 {
	font-size:  36px;
	font-family: "miss-stanfort", sans-serif;
	font-style: normal;
	font-weight: 400;
}

h3 {
	font-size: 20px;
	font-family: "blakely";
}

h4 {
	font-size: 20px;
	font-family: "blakely";
	font-weight: 700;
}

p {
	font-family: "blakely";
	font-size: 18px;
	font-weight: 300;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 50px 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: #f5f5f5;
    height: 115px;
    width: 100%;
    z-index: 1;
}

nav {
	text-align: center;
	line-height: 70px;
	font-family: "blakely";
	font-size: 25px;
}

nav a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	background: transparent;
}

#logo {
	width: 300px;
	height: auto;
	padding: 2px 0;
	float: center
}

.main-nav {
	float: center;
}

.hero{
	background-size: cover;
	text-align: center;
	padding: 200px 0;
	background-color: #000000;
}

.icon {
	width: 50px;
	height: auto;
}

.product {
	width: 350px;
	height: auto;
}

footer {
	padding: 25px 0;
	text-align: center;
}

 a:link	{ color:#000000; text-decoration: none;} /* unvisited link */
 a:visited	{ color:#000000; } /* visited link */
 a:hover	{ color: #000000; } /* mouse over link */
 a:active	{ color: #000000; } /* selected link */


/* Page Specific Styles */

#hero {
	background:  url(../images/plant1.jpg) center center no-repeat;
	background-size: cover;
	text-align: center;
	padding: 250px 0;
	color: gold;
}

#hero h1 {
	padding: 10px;
	text-shadow: 0 0 10px #333;
}

#hero p {
	padding: 10px 0;
	width: 15%;
	border: 2px solid gold;
	margin: 0 auto;
	text-shadow: 0 0 10px #333;
	box-shadow: 0 0 10px 0 #333;
}

#ad {
	background:  url(../images/banner.jpeg) center center no-repeat;
	background-size: cover;
	text-align: center;
	padding: 250px 0;
	color: gold; 
}

#ad h2 {
	padding: 50px;
	color: gold;
	text-shadow: 0 0 15px #333
}

#ad a {

}

#testimonial {
	background:  url(../images/banner.jpeg) center center no-repeat;
	background-size: cover;
	text-align: center;
	padding: 250px 0;
	color: gold;
}

#testimonial h4 {
	padding: 50px;
	text-shadow: 0 0 15px #333
	margin: 5% 25%;
}

#categories {
	padding: 50px 0;
}

#categories h3 {
	width: 60%;
	margin: 0 auto;
	padding: 20px;
}
/*Helper Classes*/

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
